<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apartmentmanagement.features.apartment.mapper.BuildingMapper">
    <insert id="createBuilding">
        INSERT INTO Building(name, floor_number)
        VALUES (#{name}, #{floorNumber})
    </insert>

    <select id="getAllBuilding" resultType = "com.apartmentmanagement.features.apartment.domain.Building">
        SELECT * FROM Building ORDER BY id DESC
    </select>
</mapper>